@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
}

.img__logo {
    width: 40px;
}

h1 {
    color: #1A202C;
    font-size: 48px;
    font-weight: 700;
}

.purple {
    color: #6515FF;
}

.header__container {
    height: calc(100vh - 260px);
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    margin-bottom: 200px;
}

.subtitle {
    font-size: 18px;
    color: #6415ff;
    font-weight: 700;
    margin-bottom: 20px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin-bottom: 24px;
}

.paragraphy {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    background-color: #6415FF;
    color: white;
    padding: 16px 40px;
    border-radius: 32px;
    border: none;
}

/* 

NAV

*/

.logo {
    font-size: 24px;
    font-weight: 900;
}

.logo__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.nav__link {
    font-size: 14px;
    margin : 0 20px;
    padding: 0 0 24px 0;
    font-weight: 600;
    color: black;
    align-items: center;
}

.nav__login {
    margin-left: 48px;
}

.nav__sign {
    padding: 12px 32px;
    background-color: #6415FF;
    color: white;
    border-radius: 50px;
}

/* 

HEADER

*/

.header__text--container {
    width: 40%;
}

.header__text--para {
    font-size: 18px;
    color: rgb(36, 62, 99);
    margin: 32px 0;
    line-height: 1.5;
}

.header__wrapper {
    display: flex;
}

.header__img--container {
    width: 60%;
}

.email-input {
    border: 2px solid rgb(226, 232, 240);
    padding: 24px 184px 24px 32px;
    border-radius: 32px;
    
}

input::placeholder {
    font-size: 16px;
    color: rgb(226, 232, 240);
    position: relative; 
}

.btn__get-start {
    margin: 8px 0 0 240px;
    position: absolute;
}

.header__input {
    display: flex;
    margin-bottom: 80px;  
}

.customers__title {
    font-size: 12px;
    font-weight: bold;
    color: rgb(160, 117, 194);
    margin-bottom: 16px;
}

.customers__img--wrapper {
    opacity: 0.5;
    
}

/* 

FEATURES

*/

.features__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 56px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__para {
    text-align: center;
    margin-bottom: 64px;
    max-width: 600px;
}

.service__logo {
    width: 68px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 100%; 
    padding: 20px;
    margin-right: 18px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    justify-content: center;
    margin-bottom: 60px;
}

.service__title {
    font-size: 24px;
    color: #243e63;
    margin-bottom: 16px;
}

.service__para {
    color: #7c8ba1;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 500;

}

.features__services {
    display: flex;
    flex-wrap: wrap;
}

.service__description {
    max-width: 200px;
}

/* 

QUALITY WORK

*/

.quality__description {
    width: 50%;
    margin-right: 56px;
}

.btn__learn-more {
    font-size: 14px;
}

.quality__para {
    margin-bottom: 32px;
}

.quality__mini-site {
    width: 50%;
}

.quality__img {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 4px;
}

/* 

STEPS

*/

.steps__img {
    width: 60%;
    display: flex;
    align-items: center;
}

.steps__description {
    width: 50%;
    margin-left: 48px;
}


.step {
    display: flex;
    width: 400px;
    margin-bottom: 32px;
}

.step__number {
    font-size: 34px;
    font-weight: 600;
    color: rgb(203 213 224);
    margin-right: 24px;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(36, 62, 99);
    margin-bottom: 12px;
}

.steps__title {
    margin-bottom: 56px;
}

.step__para {
    font-size: 14px;
    color: rgb(159, 128, 150);
    line-height: 2;
}

/* 

VALUES

*/
.value {
    width: 50%;
    padding: 0 12px;
}

.values__description {
    width: 50%;
}

.value__pro--logo {
    width: 38px;
}

.value__subtitle {
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
    margin: 0 12px;
    padding-top: 16px;
}

.values__para {
    margin: 24px 0;
}

.value__para {
    font-size: 16px;
    font-weight: 100;
    color: rgb(159, 128, 150);
    line-height: 1.5;
}

.value__title {
    display: flex;
}

.value__wrapper {
    display: flex;
    margin-bottom: 36px;
}

.values__proto--img {
    width: 50%;
}

/* 

PRICING

*/

.row__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}


.pricing__para {
    max-width: 600px;
    margin: 0 auto 48px;
    text-align: center;
}

/* PRICING BOXES */

.price {
    position: relative;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.price__wrapper {
    display: flex;
    width: 100%;
}

.price__box {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
}

.price,
.price__description,
.button__buy {
    padding: 28px;
    margin: 0 12px;
    border: 1px solid rgb(240, 237, 239);
    text-align: center;
}

.price__title {
    color: rgb(26, 32, 44);
    font-size: 18px;
}

.price__value {
    color: rgb(26, 32, 44);
    font-size: 48px;
    font-weight: 700;
}

.price__monthly {
    color: rgb(160, 174, 192);
    font-weight: 700;
    letter-spacing: 3px;
}

.price__description--title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.price__description--detail {
    color: rgb(159, 128, 150);
    font-size: 16px;;
    font-weight: 500;
}

.price__title--white,
.price__value--white,
.price__monthly--white,
.price__description--title-white,
.price__description--detail-white {
    color: white;
    
}

.price__title,
.price__value,
.price__description--title,
.price__description--detail {
    margin-bottom: 20px;
}

.price__description--detail:last-child {
    margin-bottom: 0;
}

.btn__buy {
    font-size: 12px;
    font-weight: bold;
    padding: 20px 60px;
    border: none;
    border-radius: 48px;
}

.button__buy {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.btn__green {
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.btn__white {
    background-color: white;
    color: rgb(76, 81, 191);
}

.btn__red {
    color: white;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.top__border {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 0.5rem;
    background-image: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.last__box {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 0.5rem;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;  
}

.price__white,
.price__description--white,
.button__buy--white {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-color: rgb(102, 126, 234);
}

/* 

TESTIMONIALS

*/

.testimonials__picture--wrapper {
    width: 50%;
}

.testimonials__wrapper {
    width: 50%;
    margin-left: 56px;
}

.testimonials__para {
    margin-bottom: 44px;
}

.row__testimonials {
    display: flex;
}

.rating {
    color: #fabf2a;
    margin-bottom: 24px;
}

.testimonials__subtitle {
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
    margin-bottom: 24px;
}

.testimonials__para {
    font-size: 16px;
    font-weight: 500;
    color: rgb(109, 85, 102);
    line-height: 1.5;
}

.testimonial__persona {
    display: flex;
    align-items: center;
}

.testimonial__pic {
    width: 80px;
    margin-right: 24px;
}

.testimonial__name {
    color: rgb(36, 62, 99);
}

.testimonial__position {
    color: rgb(124, 139, 161);
}

.testimonal__person {
    margin-right: 180px;
}

/* 

LAST

*/

#last {
    margin-bottom: 180px;
}

.row__last {
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 8px;
    background-color: #6415FF;
    padding: 100px 100px;
}

.ending {
    color: white;
    font-size: 30px;
    max-width: 480px;
    line-height: 1.5;
}

.btn__last {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 12px;
    padding: 20px 40px;
    border-radius: 32px;
    border: none;
}

.get-started {
    background-color: rgb(245, 101, 101);
}

.contact-us {
    background-color: #6415FF;
    border: 1px solid white;
}

/* 

FOOTER

*/

footer {
    background-color: #6415ff;
}

.footer__links {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    border-bottom: 2px solid rgb(116, 44, 255);
}

.link__title {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    
}

.footer__para {
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.footer__bottom {
    padding: 56px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
}

.footer__logo--wrapper {
    width: 32px;
}

.footer__logo--react {
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.trademark {
    color: rgb(203, 213, 224);
    font-weight: 500;
}

.social__link {
    width: 36px;
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 12px;
    margin-left: 8px;
}

